
<div class="hero-unit center container-opacity"  id="div1" >
	<a href="resume" class="btn btn-success  btn-large" method="get">
		<h2>My Resume</h2>
	</a>
</div>

<div class="hero-unit center container-opacity" id="div2" >
	<div class="btn-group ">
		<a href="source_code"> 
			<button class="btn btn-primary btn-large"> Source Code Analysis</button>
		</a>
	</div>
</div>


<div class="center bottom " >
	<div class="" id="time_div">
	</div>
</div>
</div>