
<div class="hero-unit center container-opacity" onmouseover="divover(1)" onmouseout="divout(1)" id="div1" >
	<a href="resume" class="btn btn-success  btn-large" method="get">
		<h2><i class="icon-file-text icon-large pull-left"></i> &nbsp&nbsp&nbsp My Resume</h2>
	</a>
</div>

<div class="hero-unit center container-opacity" id="div2" onmouseover="divover(2) " onmouseout="divout(2) ">
	<div class="btn-group ">
		<a href="faker"> 
			<button class="btn btn-primary btn-large"> Faker</button>
		</a>
	</div>
</div>


<div class="center bottom " >
	<div class="" id="time_div">
	</div>
</div>
</div>