<div id="div2_hidden" style=" background-color:white; display:none;  position:absolute; border:solid;">
	<h3 style="background-color:#8C8C8C;">Module Faker<br/>
	class Name<br/>
	def name</h3>
	<h4>-faker/lib/faker/name.rb</h4>
	<hr/>
	<p>
		the code in the function name just got one sentence .
		<pre>
parse('name.name')
		</pre>
	</p>
	so ,there is nothing to say but call the function parse .
</div>