	<h2>(others)</h2>
	<div class="hero-unit" style="background-color:#E2E2E2" >
		<h3>.gitignore</h3>
		<p>see more about .gitignore <%= link_to " click here", "http://blog.csdn.net/liuqiaoyu080512/article/details/8648266", :target=>"_blank" %></p>
		<h3>.travis.yml</h3>
		<p>Travis CI uses .travis.yml file in the root of your repository to learn about your project and how you want your builds to be executed. .travis.yml can be very minimalistic or have a lot of customization in it. more about .travis.yml <%= link_to " click here", "http://about.travis-ci.org/docs/user/build-configuration/", :target=>"_blank" %></p>
 </p>
		<h3>CONTRIBUTING.md</h3>
		<p>markdown file.</p>
		<h3>Gemfile</h3>
		<p>I think you know what it is .</p>
		<h3>Gemfile.lock</h3>
		<p>Gemfile.lock makes your application a single package of both your own code and the third-party code it ran the last time you know for sure that everything worked.  <%= link_to " more here", "http://about.travis-ci.org/docs/user/build-configuration/", :target=>"_blank" %> </p>
		<h3>History.txt</h3>
		<p> text file</p>
		<h3>License.txt</h3>
		<p> text file</p>
		<h3>README.md</h3>
		<p>markdown fiel</p>
		<h3>Rakefile</h3>
		<p> file for rake .</p>
		<h3>faker.gemspec</h3>
		<p> you know it too.</p>
	</div>
