<div class="hero-unit">
	<h1>Databases</h1>
	<hr/>
	<div class="btn-group ">
		<a href="db_redis"> 
			<button class="btn btn-primary btn-large"> Redis</button>
		</a>
	</div>
	<div class="btn-group ">
		<a href="db/mongo"> 
			<button class="btn btn-primary btn-large"> Mongo</button>
		</a>
	</div>

</div>