<div class="hero-unit center" id="main_page_three">
	<h2>Myself & Advantage</h2>
	<div class="hero-unit " style="background-color:#B3B3B3;">
		<table class="table table-bordered ">
			<tr>
				<th style=" width:20%;" >Myself</th>
				<td><h4>Honesty; Simplicity; Motivated; Enthusiastic</h4></td>
			</tr>
			<tr>
				<th>Advantage</th>
				<td><h4>Quick Learner; Perfectionist; Persistence;</h4></td>
			</tr>
		</table>
	</div>
</div>