<div class="hero-unit center" id="main_page_one">
	<h2>Me</h2>
	<div class="hero-unit " style=" background-color:#B3B3B3;">
		<table class="table table-bordered" style="  overflow:scroll;">
			<tr>
				<th>Name</th>
				<td>Li Hao</td>
				<th>Age</th>
				<td>24</td>
				<th>Gender</th>
				<td>M</td>
			</tr>
			<tr >
				<th>School</th>
				<td >Northwest University </td>
				<th>Major</th>
				<td >Software Engineer </td>
				<th>Degree</th>
				<td >Bachelor </td>
			</tr>
			<tr >
				<th>Hobbies</th>
				<td colspan="5">Football; Computer game; Computer skills;</td>
			</tr>
		</table>
	</div>
</div>
