<div class="hero-unit center" id="main_page_two">
	<h2>Skill</h2>
	<div class="hero-unit " style="background-color:#B3B3B3;">
		<table class="table table-bordered ">
			<tr>
				<th style=" width:25%;">Skill</th>
				<th>Level</th>
			</tr>
			<tr>
				<td>Rails</td>
				<td>
					handle all ordinary website requirements and have the ability to cache, optimize or restructure and so on.
				</td>
			</tr>
			<tr>
				<td>ruby</td>
				<td>
					solid C programming background is a very strong support for the my ruby learning, thought not a expert till now.
				</td>
			</tr>
			<tr>
				<td>gem</td>
				<td>
					finishing Faker source code analysis an po in this website and have written one or two abc gem before. think a good choice and make it a really working gem following with rails source code learning will be the next stage.
				</td>
			</tr>
			<tr>
				<td>DB-redis</td>
				<td>
					used in my own application for cache and store. know how to work with mysql as the cache pool also how to be used as DB alone.
				</td>
			</tr>
			<tr>
				<td>DB-mysql</td>
				<td>
					used all the time in applications, can handle almost all the needs.
				</td>
			</tr>
			<tr>
				<td>DB-nosql</td>
				<td>
					aware of the concept or basic usage still with a little pritices. a very quicklly learning is ready to be done.
				</td>
			</tr>
			<tr>
				<td>server-side</td>
				<td>
					know the server-side thing such as nginx+passenger, apache+passenger, thin, eventmachine, but also just a little pratice in my own applications. will be continuely improve myself.
				</td>
			</tr>
			<tr>
				<td>front-end</td>
				<td>
					basic tech such as javascript, css, html; jquery, node, coffee, bootstrap and also other skills. 
				</td>
			</tr>
		</table>
	</div>
</div>