<div class="hero-unit center" id="main_page_one">
	<h2>Working Experiences</h2>
	<div class="hero-unit " style=" background-color:#B3B3B3;">
		<table class="table table-bordered" style="  overflow:scroll;">
			<tr>
				<th>Company</th>
				<th>During</th>
				<th>Working</th>
				<th>Experience</th>
			</tr>
			<tr>
				<td style=" "> HUAWEI</td>
				<td style=" ">11./.2011-10./.2012</td>
				<td style=" ">
					Working as a website developer for an internal website used for the code management of all kinds of devices. Cause I got in the group first, so I design the front-end and coding for the back-end ,but sadly without server-end.
				</td>
				<td >I got the first sight on ROR, even all kinds of web development languages and start to know about some DSL, http requests as so on. </td>
			</tr>
			<tr>
				<td style=" "> FREE WORKER</td>
				<td style=" ">11./.2012-now</td>
				<td style=" ">
					Firstly working for the company website use CMS, then start to studying ROR and get to konw server-front tech, and of course ruby, gem, DB(both sql or nosql) too.
				</td>
				<td >
					Start to dig into ROR in this period, and also some other related tech ; lately analysis the Faker gem (as the first step to wirte a really wild-used gem) and po in the other page of this site, prepareing to do the same to the rails code . 
				</td>
			</tr>
		</table>
	</div>
</div>
