<h4>2, The blade of redis</h4>
<div class="hero-unit" style=" background-color:#B3B3B3;">
	<p>
		The knife sharped for the blade, the redis outstanding for ? 
		<hr/>
		<h4>1),Data structures</h4>
		1.1),
		
		<h4>2),Hashs</h4>
	</p>
</div>