	<div class="hero-unit" style="background-color:#E2E2E2" >
	<h2>About redis</h2>
		<p>As we known, the advantages of redis can be found anywhere by google or any search engines, so let's focus on some other places.<br/> And if you want to know more about redis, <%= link_to "click here", "http://redis.cn/", :target=>"_blank" %> .</p>
	</div>