	<div class="hero-unit" style="background-color:#E2E2E2" >
	<h2>Thanks to:</h2>
	<p>
		1,<%= link_to "http://redis.cn/", "http://redis.cn/" %><br/>
		2,<%= link_to "http://www.cnblogs.com/zhoujinyi/archive/2013/05/26/3098508.html", "http://www.cnblogs.com/zhoujinyi/archive/2013/05/26/3098508.html" %>
	</p>
	</div>