<div id="div6_hidden" style=" background-color:white; display:none;  position:absolute; border:solid; width:800px; height:300px;">
	<h3 style="background-color:#8C8C8C;">I18n.translate(*args.push(opts)) </h3>
	<h4>( the API from I18n .)</h4>
	<hr/>
	<p>
		<pre>
		</pre>
This is the API from I18n, and so the useage of this function is to translate the args matched by the file in lib/locales.<br/> And you can click 
<%= link_to "here" ,"http://guides.rubyonrails.org/i18n.html", :target=>"_blank" %> 
to see more about the I18n or translate .
	</p>
</div>