<div id="div1_hidden" style=" background-color:white; display:none;  width:300px; height:300px;  border:solid; float:left;">
	<h3 style="background-color:#8C8C8C;">the Faker::Name.name</h3>
	<hr/>
	<p>
		When you write this in you application, it will generate a whole working shown in the chart. And this sentence means you have call a function named "name" which is in the class "Name" from Module "Faker".
	</p>
</div>