<h2>An example to show the flowline of the faker</h2>
<div class="hero-unit" style="background-color:#E2E2E2" >
	let's start with a simple usage which we can see in the faker's github page: 
	<pre>
Faker::Name.name      #=> "Christophe Bartell"		
	</pre> and next,we will will see how does the code working through the gem function by function even in a sentence or word level. OK , let's go.
	<h4>( Just for a notice, open one faker source code file will be a good choice to follow this article.)</h4> <hr/>
	<h4>I did spend a few time to put the workflow in a chart below, and click the cell you will see the detail of each function .</h4>
	<p>(click the function, you will see the analysis of it. double click for close . )</p>
	<h5>better click it under firefox, some issue under chrome will be fix soon.</h5>
	<%= render 'faker/workflow_chart' %>
</div>