
<header id="main_header" class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
		 <%= link_to "About Me", root_path, id: "logo" %>
		</div>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "Comment", comments_path if Rails.env.development? %></li>
			</ul>
		</nav>
	</div>
</header>